---
import Map from "@/components/LeafletMap.astro";

interface Props {
  theme: {
    mapBg: string;
    mapBorder: string;
    mapTitle: string;
    mapIndicator: string;
  };
}

const { theme } = Astro.props;
---

<section class={`${theme.mapBg} rounded-3xl p-4`}>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 items-start">
    <div
      class={`lg:col-span-2 rounded-2xl overflow-hidden shadow-lg border ${theme.mapBorder}`}
    >
      <Map />
    </div>
    <div class="space-y-6">
      <h3 class={`heading-3 ${theme.mapTitle}`}>
        Encontre os parceiros e‑Renova
      </h3>
      <p class="text-gray-700 leading-relaxed">
        <slot name="map-lead">
          Visualize no mapa os pontos de interesse, parceiros e locais de coleta
          mais próximos de você.
        </slot>
      </p>

      <div class={`space-y-4 pt-4 border-t ${theme.mapIndicator}`}>
        <div class="flex items-start gap-3">
          <span
            class="mt-1 flex h-3 w-3 shrink-0 rounded-full bg-green-500 outline-2 outline-gray-300"
          ></span>
          <div>
            <strong class="block text-sm font-medium text-green-600"
              >Linha verde</strong
            >
            <span class="text-sm text-gray-600"
              >Equipamentos de informática e telefonia.</span
            >
          </div>
        </div>
        <div class="flex items-start gap-3">
          <span
            class="mt-1 flex h-3 w-3 shrink-0 rounded-full bg-white outline-2 outline-gray-300"
          ></span>
          <div>
            <strong class="block text-sm font-medium text-gray-400"
              >Linha Branca</strong
            >
            <span class="text-sm text-gray-600"
              >Eletrodomésticos de grande porte.</span
            >
          </div>
        </div>
        <div class="flex items-start gap-3">
          <span
            class="mt-1 flex h-3 w-3 shrink-0 rounded-full bg-blue-500 outline-2 outline-gray-300"
          ></span>
          <div>
            <strong class="block text-sm font-medium text-blue-600"
              >Linha azul</strong
            >
            <span class="text-sm text-gray-600"
              >Eletrodomésticos portáteis e eletroportáteis.</span
            >
          </div>
        </div>
        <div class="flex items-start gap-3">
          <span
            class="mt-1 flex h-3 w-3 shrink-0 rounded-full bg-amber-700 outline-2 outline-gray-300"
          ></span>
          <div>
            <strong class="block text-sm font-medium text-amber-700"
              >Linha marrom</strong
            >
            <span class="text-sm text-gray-600"
              >Equipamentos de áudio e vídeo.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
