@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-barlow: "Barlow", sans-serif;
  --font-barlow-semi-condensed: "Barlow Semi Condensed", sans-serif;
  --font-barlow-condensed: "Barlow Condensed", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-barlow);
    @apply text-slate-800 bg-white;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold text-sky-950;
  }

  p {
    @apply leading-relaxed;
  }
}

@layer components {
  .container {
    @apply mx-auto px-4 md:px-8 lg:px-16;
  }

  /* Sections */
  .section {
    @apply py-8 md:py-12;
  }

  .section-intro {
    @apply py-14 md:py-20;
  }

  /* Section structure */
  .section-title {
    @apply max-w-4xl mx-auto text-center mb-12 md:mb-16;
  }

  .section-content {
    @apply mt-8 md:mt-12;
  }

  /* .heading-1 {
    @apply text-4xl md:text-5xl lg:text-6xl font-bold font-barlow-condensed;
  }

  .heading-2 {
    @apply text-3xl md:text-4xl lg:text-5xl font-bold text-sky-950 leading-tight max-w-3xl font-barlow-semi-condensed;
  }

  .heading-3 {
    @apply text-3xl md:text-4xl lg:text-5xl font-bold
  }

  .lead {
    @apply text-lg md:text-xl text-slate-600 leading-relaxed max-w-3xl;
  } */
}


@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent;
    background-image: linear-gradient(to right,
        var(--gradient-from),
        var(--gradient-to));
  }

  .animate-fade-up {
    animation: fadeUp 0.8s ease-out forwards;
  }

  .animate-fade-up-delay {
    animation: fadeUp 0.8s ease-out 0.2s forwards;
    opacity: 0;
  }

  .gradient-teal {
    --gradient-from: theme(colors.teal.500);
    --gradient-to: theme(colors.teal.300);
  }

  .gradient-sky {
    --gradient-from: theme(colors.sky.500);
    --gradient-to: theme(colors.sky.300);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}