---
import { Image } from "astro:assets";
import recyclingTeamImg from "@/images/recycling-team.webp";
---

<section class="section">
  <div class="container">
    <div class="max-w-4xl mx-auto text-center space-y-8 mb-12">
      <h1 class="sr-only">Sobre a e-Renova</h1>
      <p
        class="text-3xl lg:text-4xl font-semibold text-slate-700 leading-tight text-balance font-barlow-semi-condensed"
      >
        Na e-Renova, acreditamos que <span class="font-bold text-emerald-600"
          >sustentabilidade</span
        > e <span class="font-bold text-sky-700">inovação</span> caminham juntas.
      </p>
      <p
        class="text-xl text-slate-700 leading-relaxed text-balance font-barlow"
      >
        A e-Renova atua para tornar a reciclagem de eletrônicos acessível,
        eficiente e transparente no Brasil. Conectamos tecnologia, operação e
        responsabilidade ambiental para viabilizar a logística reversa de
        equipamentos eletrônicos em diferentes escalas. Nossa atuação integra
        operação industrial, canal digital e conformidade ambiental, facilitando
        a transição para a economia circular.
      </p>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 text-left mt-12">
        <div class="flex flex-col space-y-4">
          <h3 class="text-2xl font-bold text-slate-700">O que fazemos</h3>
          <p class="text-slate-600 leading-relaxed text-lg text-balance">
            Conectamos pessoas, empresas e parceiros em uma rede integrada que
            transforma eletrônicos descartados em impacto social, ambiental e
            econômico positivo.
          </p>
        </div>

        <div class="flex flex-col space-y-4">
          <h3 class="text-2xl font-bold text-slate-700">O que nos move</h3>
          <p class="text-slate-600 leading-relaxed text-lg text-balance">
            Ser um agente inspirador de transformação por meio da tecnologia,
            educação e conscientização, convertendo ações individuais em mudança
            coletiva.
          </p>
        </div>
      </div>
    </div>
    <div
      class="relative rounded-2xl overflow-hidden shadow-2xl mx-auto"
    >
      <div
        class="absolute inset-0 bg-linear-to-tr from-emerald-900/70 to-transparent z-1"
      >
      </div>
      <Image
        src={recyclingTeamImg}
        alt="Equipe de reciclagem trabalhando"
        class="w-full h-auto object-cover max-h-[600px]"
      />
    </div>
  </div>
</section>
