---
import BaseLayout from "@layouts/BaseLayout.astro";
import HeadWebsite from "@components/HeadWebSite.astro";
---

<BaseLayout>
  <HeadWebsite
    slot="head"
    title="Composteiras residenciais | Soluções sustentáveis e-Renova"
    description="Composteiras residenciais como solução sustentável para redução de resíduos orgânicos e apoio à economia circular."
  />
  <h1>Compostagem residencial como solução sustentável para resíduos orgânicos</h1>
</BaseLayout>
