---
import BaseLayout from "@layouts/BaseLayout.astro";
import HeadWebsite from "@components/HeadWebSite.astro";
---

<BaseLayout>
  <HeadWebsite
    slot="head"
    title="Descarte voluntário de eletrônicos | e-Renova"
    description="Faça o descarte consciente de eletrônicos em pontos de coleta parceiros da e-Renova."
  />
  <h1>Descarte consciente nos pontos de coleta</h1>
</BaseLayout>
