---
import BaseLayout from "@layouts/BaseLayout.astro";
import HeadWebsite from "@components/HeadWebSite.astro";
---

<BaseLayout>
  <HeadWebsite
    slot="head"
    title="e-Renova | Logística reversa e reciclagem de eletrônicos"
    description="Plataforma de logística reversa para descarte correto de eletrônicos, conectando consumidores, empresas e pontos de coleta."
  />
  <h1>Transforme seu lixo eletrônico em impacto positivo</h1>
</BaseLayout>
