---
import BaseLayout from "@layouts/BaseLayout.astro";
import HeadWebsite from "@components/HeadWebSite.astro";
---

<BaseLayout>
  <HeadWebsite
    slot="head"
    title="Lojistas e parceiros | Rede de pontos de coleta e-Renova"
    description="Seja um ponto de coleta da e-Renova. Parcerias com lojistas que desejam fortalecer sua marca com a e-Renova, gerar impacto ambiental e integrar a logística reversa."
  />
  <h1>Para lojistas e parceiros da rede</h1>
</BaseLayout>
