---
import BaseLayout from "@layouts/BaseLayout.astro";
import HeadWebsite from "@components/HeadWebSite.astro";
---

<BaseLayout>
  <HeadWebsite
    slot="head"
    title="Política de Privacidade | e‑Renova"
    description="Entenda como a e‑Renova coleta, utiliza e protege os dados pessoais dos usuários."
  />
  <h1>Política de Privacidade</h1>
</BaseLayout>
