---
import BaseLayout from "@layouts/BaseLayout.astro";
import HeadWebsite from "@components/HeadWebSite.astro";
---

<BaseLayout>
  <HeadWebsite
    slot="head"
    title="Sobre a e-Renova | Logística reversa e economia circular"
    description="Conheça a e-Renova, iniciativa focada em logística reversa, reciclagem de eletrônicos e promoção da economia circular."
  />
  <h1>Sobre a e‑Renova</h1>
</BaseLayout>
