---
import BaseLayout from "@layouts/BaseLayout.astro";
import HeadWebsite from "@components/HeadWebSite.astro";
---

<BaseLayout>
  <HeadWebsite
    slot="head"
    title="Termos de Uso | e-Renova"
    description="Termos e condições para uso do site e dos serviços oferecidos pela e-Renova."
  />
  <h1>Termos de Uso</h1>
</BaseLayout>
