---
import homeTopBg from "@images/background/home-top.svg";
import homeServicesBg from "@images/background/home-services.svg";
---

<section>
  <h2>Transforme resíduos em valor</h2>
  <h3>Resíduos eletrônicos</h3>
  <p>
    A e-Renova oferece soluções ambientais completas, incluindo a reciclagem de
    resíduos eletrônicos com coleta e destinação adequada, a realização de
    campanhas de conscientização para escolas, empresas e comunidades
  </p>
  <h4>Eletrônicos</h4>
  <p>
    Computadores, notebooks, celulares, cabos, placas, fontes, impressoras,
    eletrodomésticos e demais equipamentos em desuso.
  </p>
  <h4>Painéis solares</h4>
  <p>
    Módulos fotovoltaicos danificados, fora de uso ou substituídos em projetos
    de energia solar.
  </p>
  <h4>Baterias</h4>
  <p>
    Baterias de lítio, chumbo, íon e outros tipos utilizados em notebooks,
    nobreaks, veículos elétricos e sistemas solares
  </p>
  <h3>Compostagem residencial</h3>
  <p>
    Confira também nosso trabalho de compostagem residencial para quem deseja
    adotar práticas sustentáveis no dia a dia
  </p>
  <h4>Compostagem</h4>
  <p>Instalação de composteiras a domicilio para resíduos orgânicos</p>
</section>
