---
import Map from "@components/LeafletMap.astro";
---

<section>
  <div class="container mx-auto">
    <div class="mb-16">
      <h2 class="heading-2">Parceiros da iniciativa e‑Renova</h2>
    </div>
    <Map />
  </div>
</section>
