---
import homeTopBg from "@images/background/home-top.svg";
import homeServicesBg from "@images/background/home-services.svg";

import Feature from "@components/home/HomeOverviewFeature.astro";
import Card from "@components/home/HomeOverviewCard.astro";
import CubeIcon from "@icons/cube-outline-svgrepo-com.svg?raw";
import DollarIcon from "@icons/dollar-svgrepo-com.svg?raw";
import LeafIcon from "@icons/leaf-svgrepo-com.svg?raw";
import SecurityIcon from "@icons/security-safe-svgrepo-com.svg?raw";
---

<section class="section-intro bg-linear-to-b from-emerald-50 to-white">
  <div class="container mx-auto">
    <div class="mb-20">
      <h2 class="heading-2">
        Muito além do descarte,<br /> construindo um futuro sustentável
      </h2>
    </div>

    <div class="space-y-16">
      <Feature
        title="Reciclagem de resíduos eletrônicos"
        subtitle="Soluções em economia circular"
        description="Coleta e destinação ambientalmente correta de equipamentos eletroeletrônicos, com reaproveitamento responsável de materiais, redução de impactos ambientais e acompanhamento transparente de todo o ciclo de reciclagem."
      />
      <Feature
        title="Campanhas de Conscientização"
        subtitle="Gestão e educação ambiental"
        description="Ações educativas direcionadas a escolas, empresas e comunidades, promovendo mudança de comportamento, consumo consciente e fortalecimento de práticas sustentáveis alinhadas à economia circular."
      />
      <Feature
        title="Instalação de composteiras em residências"
        subtitle="Tecnologias sustentáveis para o dia a dia"
        description="Soluções de compostagem domiciliar que facilitam a adoção de práticas sustentáveis em casa, reduzindo resíduos orgânicos e ampliando o impacto ambiental positivo de forma simples e acessível."
      />
    </div>

    <div class="my-16 border-t border-emerald-100"></div>

    <div class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-4 gap-4">
      <Card
        title="Gere renda e impacto positivo"
        description="Receba pelos materiais descartados e apoie a preservação do meio ambiente"
        icon={DollarIcon}
      />
      <Card
        title="Logística sem complicações"
        description="Processo simples e transparente, com acompanhamento do envio e entrega"
        icon={CubeIcon}
      />
      <Card
        title="Segurança da informação"
        description="Todos os dispositivos passam por destruição de dados certificada, com certificado de conformidade"
        icon={SecurityIcon}
      />
      <Card
        title="Responsabilidade ambiental"
        description="Garantimos que seu material seja processado de forma legal, responsável e transparente"
        icon={LeafIcon}
      />
    </div>
  </div>
</section>
