---
import homeTopBg from "@images/background/home-top.svg";
import homeServicesBg from "@images/background/home-services.svg";
---

<section>
  <h2>Processo simples, seguro e confiável para o descarte de eletrônicos</h2>
  Descarte voluntário nos pontos de coleta
  
  Para quem quer descartar seus eletrônicos de forma segura nos pontos de coleta parceiros
  
  Saiba mais 
  
  Lojistas e parceiros
  
  Para quem quer enviar remessas pela plataforma e transformar eletrônicos
  parados em valor
  
  Saiba mais
  
  Soluções para grandes volumes
  
  Para empresas, indústrias e organizações que precisam de logística reversa estruturada e coleta em volume
  
  Saiba mais
  
  Instalação de composteiras residenciais
  
  Para quem deseja adotar práticas sustentáveis no dia a dia
  
  Saiba mais
  
</section>
