---
import heroImage from "@images/hero.webp";
---

<div class="relative isolate px-6 lg:px-8 min-h-screen">
  <!-- Background Image -->
  <div
    class="absolute inset-0 -z-2 bg-cover bg-center"
    style={`background-image: url(${heroImage.src});`}
  >
  </div>

  <!-- Gradient Overlay -->
  <div
    class="absolute inset-0 -z-1 bg-radial-[at_50%_75%] from-emerald-800/70 via-emerald-900/80 to-slate-950/90"
  >
  </div>

  <!-- Content -->
  <div
    class="mx-auto max-w-2xl min-h-screen flex flex-col justify-center pt-28"
  >
    <!-- h1 Desktop -->
    <h1
      class="hidden sm:block text-7xl lg:text-8xl font-semibold tracking-tight text-balance text-white drop-shadow-lg font-barlow-condensed"
    >
      Transforme<br />
      seu <span class="text-emerald-400">lixo eletrônico</span><br />
      em <span class="text-sky-400">impacto positivo</span>
    </h1>

    <!-- h1 Mobile -->
    <h1
      class="block sm:hidden text-6xl font-semibold tracking-tight text-balance text-white drop-shadow-lg font-barlow-condensed"
    >
      Transforme<br />
      seu<br />
      <span class="text-emerald-400">lixo eletrônico</span><br />
      em<br />
      <span class="text-sky-400">impacto positivo</span>
    </h1>

    <p
      class="mt-8 text-lg font-medium text-pretty text-gray-100 sm:text-xl/8 drop-shadow-md"
    >
      Coleta e compra de seus equipamentos usados com segurança e praticidade
    </p>
  </div>
</div>
