<div
  id="map"
  class="map
    w-full
    aspect-square
    sm:aspect-4/3
    md:h-[500px] md:aspect-auto
    lg:h-screen
    rounded-2xl
    shadow-lg
    z-0"
>
</div>

<script>
  import { initMap } from "../assets/scripts/leaflet.js";

  // Initialize map when DOM is ready
  document.addEventListener("astro:page-load", () => {
    initMap();
  });

  // Fallback for initial load if view transitions aren't used or haven't fired
  if (document.readyState === "complete") {
    initMap();
  } else {
    document.addEventListener("DOMContentLoaded", () => {
      initMap();
    });
  }
</script>
