---
import { Image } from "astro:assets";
import type { Author } from "@data/authors";

interface Props {
  author: Author;
}

const { author } = Astro.props;
---

<div
  class="px-8 py-8 mt-3 text-gray-600 rounded-2xl bg-emerald-200 border border-emerald-300"
>
  <div class="flex flex-wrap items-start sm:space-x-6 sm:flex-nowrap">
    <div class="relative shrink-0 w-24 h-24 mt-1">
      {
        author.image && (
          <Image
            src={author.image}
            alt={author.name}
            width={96}
            height={96}
            loading="lazy"
            class="rounded-full object-cover w-full h-full"
          />
        )
      }
    </div>
    <div>
      <div class="mb-3">
        <h3 class="text-lg font-medium text-gray-800">
          Sobre {author.name}
        </h3>
      </div>
      <div>
        <p class="whitespace-pre-line">{author.bio}</p>
      </div>
    </div>
  </div>
</div>
