@import "tailwindcss";

@theme {
  --font-barlow: "Barlow", sans-serif;
  --font-barlow-condensed: "Barlow Condensed", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-barlow);
  }

  h1,
  .heading-1 {
    @apply text-4xl font-bold;
    font-family: var(--font-barlow-condensed);
  }
}