@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-barlow: "Barlow", sans-serif;
  --font-barlow-semi-condensed: "Barlow Semi Condensed", sans-serif;
  --font-barlow-condensed: "Barlow Condensed", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-barlow);
    @apply text-slate-800 bg-emerald-50;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold text-sky-950;
  }

  p {
    @apply leading-relaxed;
  }
}

@layer components {
  .container {
    @apply mx-auto px-4 md:px-8 lg:px-16;
  }

  /* Sections */
  .section {
    @apply py-8 md:py-12;
  }

  .section-intro {
    @apply py-14 md:py-20;
  }

  /* Section structure */
  .section-title {
    @apply max-w-4xl mx-auto text-center mb-12 md:mb-16;
  }

  .section-content {
    @apply mt-8 md:mt-12;
  }

  .heading-1 {
    @apply text-4xl md:text-5xl lg:text-6xl font-bold mb-5 font-barlow-condensed;
  }

  .heading-2 {
    @apply text-3xl md:text-4xl lg:text-5xl font-bold mb-4 text-sky-950 leading-tight max-w-3xl font-barlow-semi-condensed;
  }

  .heading-3 {
    @apply text-2xl md:text-3xl lg:text-4xl font-bold mb-3
  }

  .lead {
    @apply text-lg md:text-xl text-slate-600 leading-relaxed max-w-3xl;
  }
}


/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */