@import "tailwindcss";

@theme {
  --font-barlow: "Barlow", sans-serif;
  --font-barlow-semi-condensed: "Barlow Semi Condensed", sans-serif;
  --font-barlow-condensed: "Barlow Condensed", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-barlow);
  }

  /* Sections */
  section {
    @apply py-16 md:py-24;
  }

  /* Headings */
  .heading-1 {
    @apply text-4xl md:text-5xl lg:text-6xl font-bold mb-6 text-sky-950 font-barlow-condensed;
  }

  .heading-2 {
    @apply text-3xl md:text-4xl lg:text-5xl font-bold mb-4 text-sky-950 leading-tight max-w-3xl font-barlow-semi-condensed;
  }

  .heading-3 {
    @apply text-2xl md:text-3xl lg:text-4xl font-bold mb-3
  }
}

@layer utilities {
  .container {
    @apply px-4 md:px-8 lg:px-16;
  }
}