---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Breadcrumb from "@/components/ui/Breadcrumb.astro";

import { resolveBreadcrumbs } from "@/utils/breadcrumbs.ts";

interface Props {
  headerPosition?: "absolute" | "sticky";
}

const { headerPosition = "sticky" } = Astro.props;

const isHome = Astro.url.pathname === "/";

const breadcrumbs = resolveBreadcrumbs(Astro.url.pathname);
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <slot name="head" />
  </head>
  <body>
    <Header position={headerPosition} />
    <main class="pb-6 md:pb-8">
      {!isHome && <Breadcrumb breadcrumbs={breadcrumbs} />}
      <slot />
    </main>
    <Footer />
  </body>
</html>
