---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

interface Props {
  headerPosition?: "absolute" | "sticky";
}

const { headerPosition = "sticky" } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <slot name="head" />
  </head>
  <body>
    <Header position={headerPosition} />
    <slot />
    <Footer />
  </body>
</html>
