---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Breadcrumb from "@components/ui/Breadcrumb.astro";

interface Props {
  headerPosition?: "absolute" | "sticky";
}

const { headerPosition = "sticky" } = Astro.props;
const pathname = Astro.url.pathname;
const isHome = pathname === "/";
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <slot name="head" />
  </head>
  <body>
    <Header position={headerPosition} />
    <main>
      {!isHome && <Breadcrumb />}
      <slot />
    </main>
    <Footer />
  </body>
</html>
