---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Breadcrumb from "@/components/ui/Breadcrumb.astro";

import { resolveBreadcrumbs } from "@/utils/breadcrumbs.ts";

interface Props {
  headerPosition?: "absolute" | "sticky";
  color?: "emerald" | "purple" | "cyan" | "amber";
}

const { headerPosition = "sticky", color = "emerald" } = Astro.props;

const isHome = Astro.url.pathname === "/";

const breadcrumbs = resolveBreadcrumbs(Astro.url.pathname);

const bgMap = {
  emerald: "bg-emerald-50",
  purple: "bg-purple-50",
  cyan: "bg-cyan-50",
  amber: "bg-amber-50",
};
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <slot name="head" />
  </head>
  <body class={!isHome ? bgMap[color] : ""}>
    <Header position={headerPosition} />
    <main class="pb-6 md:pb-8">
      {!isHome && <Breadcrumb breadcrumbs={breadcrumbs} color={color} />}
      <slot />
    </main>
    <Footer />
  </body>
</html>
