---
interface Props {
  title: string;
  lead?: string;
  class?: string;
  color?: string;
}

const { title, lead, class: className, color } = Astro.props;
---

<div class="space-y-6 mb-12">
  <h1
    class:list={[
      "text-5xl md:text-6xl font-bold max-w-4xl font-barlow-condensed text-balance",
      color,
      className,
    ]}
    set:html={title}
  />
  {lead && <p class="text-lg text-gray-700 leading-relaxed">{lead}</p>}
</div>
